body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-screen {
  display: flex;
  font-size: 400%;
  background-color: aqua;
  width: 93%;
  height: 20%;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  border: 10px solid white;
  border-radius: 5px;
}

.calc-frame {
  background-color: black;
  height: 640px;
  width: 440px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.button-area {
  display: flex;
  width: 95%;
  height: 60%;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.num-button {
  display: flex;
  font-size: 200%;
  justify-content: center;
  align-items: center;
  width: 32.3%;
  height: calc(20% - 2px);
  box-sizing: border-box;
  border-radius: 5px;
}

.operator {
  display: flex;
  font-size: 200%;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #8ca9d1;
}

.lefties {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 100%;
  flex-wrap: wrap;
  gap: 2px;
}

.righties {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  gap: 2px;
}
